@import "vendor/normalize.less";
@import "mixins.less";
@import "colors.less";

html, body {
	font-family: 'Open Sans' sans-serif;
	height: 100%;
	* {
		font-family: 'Open Sans' sans-serif;
	}
}

a {
	cursor: pointer;
}

// layout
.app-container {
	height: 100%;

	.app-header {
		position: absolute;
		top: 0;
		height: 60px;
		width: 100%;
		min-width: 800px;
		z-index: 100;
	}
	main {
		width: 90%;
		min-width: 800px;
		margin-left: 50px;
		height: ~'calc(100% - 80px)';
		position: absolute;
		top: 100px;
		//padding: 40px 0 0 0;

		&>* {
			overflow-y: auto;
			height: 100%;
			width: 100%;
		}
	}

.thumb {
      float: left;
      margin: -0.5em 1em 1.5em 0;
      padding-bottom: 1em;
      height: 100px;
      width: 100px;
    }
    }
// standard across application
fieldset {
	border: none;

	legend {
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		margin: 10px 0;
	}

	.basic-input {
		width: 500%;
	}

	button[type=submit] {
		float: right;
		margin: 20px 0 0 0;
	}
}  

hr {
	width: 50px;
	content: '';
	position: relative;

	border-width: 0 0 0 0;
	height: 20px;

	&:before {
		position: absolute;
		display: block;
	color: #aaa;
		//content: '§';
		font-size: 18px;
		transform: scaleX(6) rotateZ(-90deg) ;
		height: 10px;
		font-weight: 100;
		line-height: 10px;
		width: 20px;
		text-align: center;
		left: 50%;
		margin-left: -10px;
		top: 5px;
	}
} 

button {
	background-color: #bbb;
	color: black;

	line-height: 40px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 0 10px;
	border: none;
	outline: none;

	&[type="submit"] {
		background-color: darken(@blue, 20%);
		color: white;

		&:focus,&:hover {
			background: #000099;
		} 
	}
    
    &[type="primary"] {
		background-color: darken(@blue, 50%);
		color: white;

		&:focus,&:hover {
			background: #000099;
		} 
	}

	box-shadow: 1px 3px 2px 0px #666;

	transition: transform 100ms ease, box-shadow 100ms ease;

	&:active {
		transform: translateY(2px);
		box-shadow: 1px 1px 2px 0px #666;
	}
}

.login-box{
	margin: 3em auto;
	max-width: 320px;
	background: #FFFFFF;
	padding: 40px;
	box-shadow: 0 0 20px rgba(0,0,0,.25);
	
  }
  .password{
	-Webkit-text-security: disc; 
	display: block;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	color: white;
  }

.password-input{
	-Webkit-text-security: disc; 
	 -moz-text-security: disc;
	
	  &:focus, &:active{
		border-color: #888;
		outline: 0;
	  }
	}
	
	&__show{
	  cursor: pointer;
	  position: absolute;
	  bottom: 11px;
	  height: 16px;
	  right: 0;
	//  background: $secondary;
	  color: white;
	  padding: 4px 8px;
	  border-radius: 4px;
	  font-weight: 700;
	  font-size: .8em;
	}
  

@import "vendor/quill.snow.less";
@import "components/basicInput.less";