@import "../colors.less";
@import "../mixins.less";

.app-header {
	@headerHeight: 80px;

	border-bottom: 5px solid #0000aa;
	height: @headerHeight;
	background-color: lightBlue;

	h1 {
		float: left;
		margin: 0;
		padding: 0 0 0 @headerHeight;
		line-height: @headerHeight;

		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 2px;

		// override link styles for home link
		color: black;
		&:hover, &:active, &:visited {
			color: black;
		}
	} 

	section.account-ctrl {
		float: right;
		padding: 0 @headerHeight 0 0;

		a {
			color: @blue;
			.slidelink(@blue);
			display: inline-block;
			margin: 0 0 0 @headerHeight;
			font-size: 12px;
			line-height: @headerHeight;
 
			letter-spacing: 1px;
			text-transform: uppercase;

			&:focus {
				outline: none;
			}
		}
	}
}
