.user-edit {
	fieldset {
		width: 500px;
		margin: 30px auto 0 auto;
		padding: 20px 0 100px 0;
	}

	.profile-image-container {
		font-size: 12px;
		margin: 20px 0;

		label {
			display: block;
			color: gray; 
			letter-spacing: 2px;
			line-height: 40px;
		}

		img {
			vertical-align: middle;
		}

		.basic-input {
			width: 300px;
			margin: 0 0 0 40px;
			height: 40px;

			input {
				width:0;
				height: 0;
				visibility: hidden;
			}
			button {
				position: absolute;
				top: 0;
				left: 0;
				width: 120px;
			}
			aside {
				float: none;
				right: auto;
				left: 140px;
			}

		}
		
	}
}
